body {
    margin: 0;
    font-family: Arial;
    background: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d") no-repeat center/cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: rgba(255,255,255,0.9);
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.box input, select, button, textarea {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.title {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.table-box {
    width: 85%;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
